footer {
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 150px;
  box-shadow: 0px 4px 50px -20px rgba(0, 0, 0, 0.56);
  .footer-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  p {
    width: 100%;
    text-align: center;
  }
  .list {
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    .item {
      padding: 10px !important;
    }
  }

  .icon {
    font-size: 2em;
    padding: 0 10px !important;
  }
}

.container {
  padding: 3em 0em;
}

.section-block {
  padding-top: 3em;
  padding-bottom: 3em;
  border-bottom: 1px solid lightgray;
}

.column {
  padding-bottom: 0 !important;
}

.content-wrapper {
  height: 70vh;
}

.border {
  border: 10px solid;
  &.red {
    color: red;
  }
}

.ui.segment,
.ui.attached.segment {
  border: none;
}

.results-content {
  display: flex;
  flex-direction: row;

  & > div {
    &:first-child {
      width: 60%;
    }

    &:last-child {
      width: 40%;
    }
  }
}

.menu,
.menu .item {
  border-radius: 0 !important;
}

.main-section {
  .menu:first-child {
    border-top: none !important;
    min-height: 100% !important;
    height: 100vh;
  }
}

// --------------------------------------------------
// HELPERS
// --------------------------------------------------
.flex {
  display: flex;
}

// --------------------------------------------------
// SEASONS STYLING
// --------------------------------------------------
.ui.dimmer {
  bottom: 0;
}

// --------------------------------------------------
// SEASONS STYLING
// --------------------------------------------------
.season-display {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &.winter {
    background-color: aliceblue;
    i {
      color: blue;
    }
  }

  &.summer {
    background-color: #ffd700;
    i {
      color: red;
    }
  }

  .icon-left {
    position: absolute;
    top: 85px;
    left: 70px;
  }

  .icon-right {
    position: absolute;
    bottom: 85px;
    right: 70px;
  }
}

// --------------------------------------------------
// SEARCH-BAR STYLING
// --------------------------------------------------
.search-bar {
  p {
    margin-top: 10px;
  }

  .section-header {
    margin-top: 30px;
  }
}

// --------------------------------------------------
// IMAGE GALLERY STYLING
// --------------------------------------------------
.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0 5px;
  grid-auto-rows: 10px;
}

.image-card {
  img {
    width: 250px;
  }
}

// --------------------------------------------------
// VIDEO APP STYLING
// --------------------------------------------------
.youtube-app {
  h3 {
    margin-bottom: 1.5em;
  }

  .description {
    overflow-wrap: break-word;
  }

  .content-container {
    &:first-child {
      padding-right: 20px;
    }
  }

  .video-item {
    cursor: pointer;
    padding: 5px !important;
    border: 1px solid lightgrey !important;
  }
}

// --------------------------------------------------
// REACT HOOKS | TODO PROJECT STYLING
// --------------------------------------------------
.App {
  text-align: center;
}

// --------------------------------------------------
// REACT HOOKS | WIDGET APP STYLING
// --------------------------------------------------
